useDynLib(SpatialEffect, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
export(SpatialEffect)
export(SpatialEffectTest)
S3method(print,SpatialEffect)
S3method(summary,SpatialEffect)
import(geosphere)
import(fields)
import(raster)
import(ri)